
<header>
  <link rel="stylesheet" href="../../styles/header.css" type="text/css" />

  <nav class="header-nav navbar navbar-light">
    <%if (!user) { %>
    <a href="" id="logo">
      <img src="https://i.imgur.com/noBTXCe.png">
    </a>
    <% } else { %>
    <a href="/home" id="logo">
      <img src="https://i.imgur.com/noBTXCe.png">
    </a>
    <% } %>

    <%if (user) { %>
      <form action="/myorders" method="GET">
        <label class="other" for="username"><%=user%></label>
        <button type="submit" class="other" id="nav-resto-myorders">My Orders</button>
      </form>

      <form action="/logout" method="POST">
        <button type="submit" class="other">Logout</button>
      </form>

    <% } else { %>
      <form action="/login" method="GET">
        <button type="submit" class="other">Login</button>
      </form>

      <form action="/login/restaurant" method="GET">
        <button type="submit" class="other">Restaurants Login</button>
      </form>

    <% } %>
  </nav>
</header>
