<header>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
          <img src="/docs/4.3/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
          Bootstrap
        </a>

      <form class="form-inline" style= "margin: 0px;" action="/login" method="GET">
        <button type="submit" class="btn btn-outline-dark">Login</button>
      </form>

    </nav>
  </header>
