
<header>
  <link rel="stylesheet" href="../../styles/header.css" type="text/css" />
  <nav class="header-nav navbar navbar-light bg-light">
    <%if (user) {%>
      <form class="form-inline" style= "margin: 0px;" action="/logout" method="POST">
        <label for="username"><%=user%></label>
        <button type="submit" class="header-btn btn btn-outline-dark">Logout</button>
      </form>
    <% } else { %>
      <form class="form-inline" action="/login" method="GET">
        <button type="submit" class="header-btn btn btn-outline-dark">Login</button>
      </form>

      <form class="form-inline" action="/login/restaurant" method="GET">
        <button type="submit" class="header-btn btn btn-outline-dark">Restaurants Login</button>
      </form>
    <% } %>
  </nav>
</header>
