
<header>
  <link rel="stylesheet" href="../../styles/header.css" type="text/css" />

  <nav class="header-nav navbar navbar-light">
    <a href="/home" id="logo">
      <img src="https://i.imgur.com/noBTXCe.png">
      <!-- <img src="./img/logo2.png"> -->
      <!-- <img src="./img/logo2.png"> -->
    </a>
    <%if (user) {%>
      <form action="/myorders" method="GET">
        <label class="other" for="username"><%=user%></label>
        <button type="submit" class="other">My Orders</button>
      </form>

      <form action="/logout" method="POST">
        <button type="submit" class="other">Logout</button>
      </form>

    <% } else { %>
      <form action="/login" method="GET">
        <button type="submit" class="other">Login</button>
      </form>

      <form action="/login/restaurant" method="GET">
        <button type="submit" class="other">Restaurants Login</button>
      </form>

    <% } %>
  </nav>
</header>
