<header>
    <nav class="navbar navbar-light bg-light">

      <form class="form-inline" style= "margin: 0px;" action="/login" method="GET">
        <button type="submit" class="btn btn-outline-dark">Login</button>
      </form>

    </nav>
  </header>
