DB_HOST=localhost
DB_USER=labber
DB_PASS=labber
DB_NAME=midterm
# Uncomment and set to true for Heroku
# DB_SSL=true if heroku
DB_PORT=5432
TWILIO_ACCOUNT_SID= AC4424661674dfe2bf1d3db506ea2547f4
TWILIO_NUMBER= +16476948610
TWILIO_AUTH_TOKEN= bbcad093c62130e275a281387aea2076