<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <!-- Meta Information -->
    <title>Home Page</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
    />

    <!-- External CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <!-- <link rel="stylesheet" href="/styles/layout.css" type="text/css" /> -->
    <link rel="stylesheet" href="/styles/01_home_layout.css" type="text/css" />

    <!-- External JS -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

    <!-- App JS -->
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <section id="search-page">
      <div class="search-bar">
        <form
          class="form-inline"
          style="margin: 0px;"
          action="/home/"
          method="POST"
        >
          <input class="search-text" type="text" name="search" /><br />
          <button type="submit" class="search-button btn btn-outline-dark">
            Search
          </button>
        </form>

        <button type="submit" class="categories-button btn btn-outline-dark">
          Give me a suggestion
        </button>
      </div>
    </section>

    <section id="categories-page">
      <form
        class="form-inline"
        style="margin: 0px;"
        action="/categories/asia"
        method="GET"
      >
        <button type="submit" class="btn btn-outline-dark">
          Asia
        </button>
      </form>
      <form
        class="form-inline"
        style="margin: 0px;"
        action="/categories/mexican"
        method="GET"
      >
        <button type="submit" class="btn btn-outline-dark">
          Mexican
        </button>
      </form>
      <form
        class="form-inline"
        style="margin: 0px;"
        action="/categories/Western"
        method="GET"
      >
        <button type="submit" class="btn btn-outline-dark">
          Western
        </button>
      </form>
      <form
        class="form-inline"
        style="margin: 0px;"
        action="/categories/Idk"
        method="GET"
      >
        <button type="submit" class="btn btn-outline-dark">
          Idk
        </button>
      </form>
    </section>
  </body>
</html>
