<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Meta Information -->
    <title>Home Page</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />

    <!-- External CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <!-- External JS -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

    <!-- App JS -->
    <script type="text/javascript" src="/scripts/app.js"></script>

  </head>

  <body>

    <nav>
      <% include partials/_header %>
      <!-- <a>Navbar</a> -->
    </nav>

    <section id='landing-page-top'>

      <aside class="register">
        <div>

          <header>
            <h3>Create <br> Account
            </h3>
          </header>

          <form class="form-inline" style= "margin: 0px;" action="/register" method="POST">
            <input type="text" name="fname" placeholder="First Name"><br>
            <input type="text" name="lname" placeholder="Last Name"><br>
            <input type="text" name="email" placeholder="Email"><br>
            <input type="text" name="phonenumber" placeholder="Mobile Number"><br>
            <input type="password" name="password" placeholder="Password"><br>

            <button type="submit">REGISTER</button>
          </form>

          <footer>
            <p>Already have an account? <a href="login">Login</a></p>
          </footer>

        </div>
      </aside>

    </section>

    <article id='landing-page-bot'>
      <div id='para1'>
        <header>
          <h3>IPSUM LOREM</h3>
      </header>
      <div>
        image
      </div>
      <footer>
          <text>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</text>
      </footer>
      </div>
      <div id='para2'>
        <header>
          <h3>IPSUM LOREM</h3>
        </header>
        <div>
          image
        </div>
        <footer>
          <text>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</text>
        </footer>
      </div>
      <div id='para3'>
        <header>
          <h3>IPSUM LOREM</h3>
        </header>
        <div>
          image
        </div>
        <footer>
          <text>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</text>
        </footer>
      </div>
    </article>

  </body>

</html>
