//CURRENTLY FOR DESKTOP QUERY
// @mixin gridspan($col_start, $col_end, $row_start, $row_end) {
//   grid-column: $col_start / $col_end;
//   grid-row: $row_start / $row_end;
// }

// @media only screen and (max-width: 600px) {
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#search-page {
  justify-content: center;
  display: flex;
  background: #eee;
  height: 100vh;
}

.wowee {
  width: 100% !important; //To override bootsrap
}

.categories-button {
  width: 50%;
  align-self: center;
}

#categories-page {
  background: #EEE;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.search-bar {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  background: #eee;
}

.categories-box {
  height: 50%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.categories-box > div {
  display: flex;
  flex-basis: calc(50% - 40px);
}

.category .form-inline {
  flex-flow: row;
}

.category-image {
  border-radius: 25px;
  border: #EEE;
  border-width: 10px;
  width: 250px; /* or any custom size */
  height: 200px;
  // object-fit: contain;
  border-style: solid;
  border-width: 5px;
  margin: 10px;
}

.categories-box > div > div {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.category {
  margin: 20px;
  border-radius: 25px;
  background-color: #ffb84d;

  // width: 250px;
}

.downward-text {
  writing-mode: vertical-rl;
  text-orientation: upright;
}

// }

// 1024 PCS & latops

// MOBILE < 1024

@media only screen and (max-width: 600px) {
  .search-bar {
    width: 100%;
  }

  .categories-box > div {
    display: flex;
    flex-basis: unset;
    justify-content: center;
    flex-direction: column;
  }
  .category {
    border-radius: 25px;
    width: 100%;
  }
}
