body {
  background-image: url("../img/login-web.jpg");
  background-size: cover;
}
#register-container {
  font-family: 'Didact Gothic', sans-serif;
  display: flex;
  justify-content: center;
  min-height: 93vh;
  align-items: center;
}

aside {
  background-color: #fff;
  border-radius: 20px;
  filter: drop-shadow(8px 9px 9px #A5A5A5);
  width: 450px;
  height: 700px;

   header {
    min-height: 200px;
    display: flex;
    align-items: center;
    margin-left: 3em;

    h3 {
      font-size: 3em;
    }

  }

  div .form-inline {
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    min-height: 400px;

    input {
      width: 80%;
      border: none;
      border-bottom: ridge;
      background-color: #fff;
      outline: none;
    }

    button {
      width: 80%;
      background-color:#DD614A;
      border: none;
      padding: 10px;
      border-radius: 5px;
      color: white;
      font-size: 1.4em;
    }
    button:hover {
      background-color:#DD614A;
    }

  }
  footer {
    display: flex;
    justify-content: center;
  }
}
