nav {
  grid-column: 1 / span 2;
}

body {
  background-color: #EEE;
  display: grid;
  grid-template-rows: 5vh 95vh;
  grid-template-columns: 600px auto;
  font-family: 'Roboto', sans-serif;
  // font-size:42px;
}

#categories-head {
  width: 100%;
  margin-top: 3.5em;
  margin-bottom: 3.5em;
  margin-right: 1.5em;
  border-bottom: 1em #DD614A solid;
  background-color: #fafafa;

  h2 {
    padding: 0.4em;
  }
}

#categories-main {
  display: flex;
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
  flex-wrap: wrap;
  // justify-content: center;
}

#categories-container-main {
  // background-color: #F48668;
  // background-color: #ffb84d;
  width: 600px;
  // margin-top: 3em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 15px;
  // margin-bottom: 3em;
}

#categories-container-main a {
  display: flex;
  align-items: center;
  min-height: 9em;
  margin-bottom: 2em;
  background-color: #fafafa;
  border-radius: 5px;
  width: 90%;
  max-height: 150px;
  // filter: drop-shadow(2px 4px 6px #DD614A);
  // box-shadow: 3px 3px #DD614A;
  transition: all .2s ease-in-out;
  text-decoration: none;
  color:black;
  // box-shadow: black;

  h3 {
    margin-left: 1.5em;
    color: white;
  }
}

#categories-container-main a:hover {
  transform: scale(1.05);
  filter: drop-shadow(2px 4px 6px #DD614A);
  box-shadow: 3px 3px #DD614A;

}

.side-content {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  // grid-template-columns: ;
  // grid-template-rows: ;

}

.side-content-container {
  // background-color: #EEE;
  // background-color: #fff;
  min-height: 56.1em;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 33% 33% 33%;
  // display: flex;
  // flex-wrap: wrap;
  visibility: hidden;

  #side-content-header {
    width: 100%;
    display: flex;

    h2 {
      border-radius: 5px;
      // background-color: orange;
      width: 100%;
      margin-left: 40px;
      margin-bottom: 40px;
      margin-right: 40px;
      margin-top: .7em;
      padding-left: 10px;
      height: 30%;
      font-size: 5em;
    }
  }

  #side-content-body {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
    margin-left: 40px;
    border-radius: 20px;
    font-size: 1.5em;
  }

}

.a1 {
  background-image: url("https://i44.photobucket.com/albums/f6/jacksonf21/mand2_zpspkxfmum0.jpg");
  text-shadow: 1px 1px black;
}

.a2, .a3, .a4, .a5 {
  background-color: black;
}
