html {
  ::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px transparent;
    // border-radius: 5px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    // background: transparent;
    background: 	#E8E8E8;
    height: 10px;
    width: 1px;

    // border-radius: 5px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000;
  }
  // background: #fff;
  // background-image: linear-gradient(#fff, black);
  // background-image: linear-gradient(#fff, #F0F0F0);
}

body {
  background: #fff;
  background-image: linear-gradient(#fff, #F0F0F0);
  display: grid;
  grid-template-rows: 5vh 95%;
  font-family: 'Didact Gothic', sans-serif;
  // grid-template-columns: 950px auto;
}

.restaurant-container{
  // grid-row: 2 / span 1;
  // grid-column: 1 / span 1;
  // display: flex;
  display: grid;
  // grid-template-rows: 5vh 95%;
  grid-template-columns: 1200px auto;
  margin-top: 1em;
  flex-direction: row;
  // justify-content: center;

  header.restaurant-banner{
    display: flex;
    overflow: hidden;
    justify-content: center;
    color:white;
    text-shadow: 1px 1px black;
    font-size: 2em;
    height: 300px;
    align-items: center;
    font-family: 'Didact Gothic', sans-serif;
    // font-family: 'Roboto', sans-serif;

    img{
      // height: 100%;
      width: 100%;
      padding: 0px;

      // padding: 20px;
      // width: 100%;
      // height: 200px;
    }
  }

  #menu-container {
    display: flex;
    justify-content: center;
  }


  .restaurant-menu {
    display:flex;
    flex-direction: column;
    width:80%;
    font-family: 'Single Day', cursive;
    letter-spacing: 0.4px;

    hr {
      border: 0;
      clear:both;
      display:block;
      width: 100%;
      background-color:#8C8C8B;
      opacity: 0.5;
      height: 1px;
  }

    article.menu-item:hover{
      color:#DD614A;
      cursor: pointer;
      text-align: center;
      .menu-item-addcart{
        display:block;
        margin-right: 350px;
        margin-bottom:200px;
        color:white;
        font-weight: bold;
        font-family: 'Didact Gothic', sans-serif;
        border:solid 1px sienna;
        height: 60%;
      }

      div.menu-item*{
        display:none;
      }

      .menu-item div{
        display:none;
      }
    }




    article.menu-item{
      margin:15px;
      width: 80%;
      display: flex;
      flex-flow:row wrap;
      justify-content: space-between;
      justify-items: center;
      height: 70px;
      padding-left: 10px;
      transition: .8s all ease;
      font-size: 1.3em;
      width: 41.5em;
      margin-left: 1.5em;

      .menu-item-addcart{
        display:none;
      }


      .menu-item-1{
        display:flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 50%;
        flex-grow: 0.5;
        font-family: 'Didact Gothic', sans-serif;

        // font-family: 'Roboto', sans-serif;
        font-weight: bold;

      }

      .menu-item-2{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 50%;
        flex-grow:0.5;
      }
    }
    .menu-item-3{
      font-family: 'Didact Gothic', sans-serif;
      color: #404040;
      // font-family: 'Roboto', sans-serif;
    }
  }

  .restaurant-menu{
    background-color: #f5f3f0;
    filter: drop-shadow(2px 4px 6px gray);
    margin-top: 3em;
    margin-bottom: 3em;
    // // flex: 0.6;
    // width: 80%;
    // height: 80%;
  }

  #checkout-banner{
    background: #DD614A;
    min-height: 15px;
  }

  .restaurant-checkout{
    flex:0.4;
    height: 100%;
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
    // width: 100vw;

    .restaurant-checkout-main{
      // position: relative;
      // margin:auto;
      // width: 80%;
      position: fixed;
      right: 0;
      // 3%;
      width: 30em;

      .checkout-list{
        font-size: 1.2em;
        margin-bottom: 10px;
      }

      .checkout-list-item{
        padding: 10px 0;
        display:flex;
        flex-flow: row nowrap;
        width: 100%;
        justify-content: space-between;
      }

      .restaurant-checkout-main-wrapper{
        position: absolute;
        right: 0;
        height: 87vh;
        // margin-top: 3em;
        // top: 20px;
        width: 25em;
        padding-left: 20px;
        padding-right: 20px;
        // border: 3px solid red;
        overflow: scroll;
        background: white;
        filter: drop-shadow(2px 4px 6px gray);

        .restaurant-checkout-title{
          padding-top: 10px;
          text-align: center;
          font-family: 'Didact Gothic', sans-serif;

          // font-family: 'Roboto', sans-serif;
          letter-spacing: 0.3px;
          h4 {
            font-size: 1.9rem;
          }
        }
        // #restaurant-checkout-items {
        //   overflow: scroll;
        // }
        .restaurant-checkout-cart{
          width: 100%;
          font-size: 1.15em;
          font-family: 'Didact Gothic', sans-serif;

          // font-family: 'Open Sans Condensed', sans-serif;
          font-weight: bold;

          .restaurant-checkout-cart-subtotal{
            display:flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            height: 1.5rem;
          }
          .restaurant-checkout-cart-tax{
            display:flex;
            flex-flow: row nowrap;
            justify-content: space-between;
          }
          .restaurant-checkout-cart-total{
            display:flex;
            flex-flow: row nowrap;
            justify-content: space-between;
          }
        }
        .restaurant-checkout-btn-conatiner {
          margin-top: 1em;
          display: flex;
          div {
            margin-right: 1em;

          }
        }
        #checkout-btn, #empty-cart-btn{
          color: white;
          background: #DD614A;
          border: none;
          outline: none;

        }
        #checkout-btn:focus {
          border: none;
          outline: none;
          box-shadow: 2px 2px transparent;
        }
        #empty-cart-btn:focus {
          border: none;
          outline: none;
          box-shadow: 2px 2px transparent;
        }
        // .restaurant-checkout-btn-conatiner{
        //   display: flex;
        //   flex-direction: row-reverse;
        //   justify-content: space-between;

        //   button#empty-cart-btn{
        //     color:white;
        //   }
        // }
      }
    }
  }

  .modal-content {
    position: fixed;
    top: 50%;
    right: 50%;
    width: 600px !important;
    height: 330px !important;
  }
  .modal-body
  table
  tr
  th{
    text-align: left;
  }

  .modal-body
  table
  tr
  td{
    text-align: left;
  }

  #cart-quantit{
    display:flex;
    flex-flow: row;
    width: 100%;
    margin:auto;
    text-align: center;
  }


  .modal-footer{
    display:flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-between;
  }
}

#cart-quantity-box {
  // display: flex;
  border: none;
  outline: none;
  text-align: center;
  // justify-content: center;
  width: 20px !important;
}

.minus-btn, .plus-btn {
  border: none;
  background: transparent;
}

.fa-plus-square, .fa-minus-square {
  color: #DD614A;
  font-size: 1.25em;
}

// #myModal {
//   padding-right: 5px;
//   display: flex;
//   justify-content: center;
// }
// .modal-dialog {
//   position: absolute;
//   width: 50em;
//   margin-top: 12em;
// }

// .fa-minus-square {
//   color: #DD614A;
//   font-size: 1.25em;
// }
