nav {
  grid-column: 1 / span 1;
}

body {
  background-color: #eee;
  display: grid;
  grid-template-rows: 5vh 95vh;
  grid-template-columns: 1;
  // grid-template-columns: 600px auto;
  font-family: "Roboto", sans-serif;
  // font-size:42px;
}

th,
tr {
  text-align: center;
}

.th-inner-table {
  display: flex;
  justify-content: center;
}

content {
  display: flex;
  justify-content: center;
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
  // border: red solid 3px;
}

#myorder-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  min-width: 500px;
  margin-top: 50px;
  // justify-content: center;
  // border: 4px solid blue;

  header {
    height: 100px;
    width: 80%;
    text-align: center;
  }
}

.table .thead-dark th {
  background-color: #dd614a;
  border-color: #dd614a;
}
