// See: https://sass-lang.com/

//CURRENTLY FOR DESKTOP QUERY
@mixin gridspan($col_start, $col_end, $row_start, $row_end) {
  grid-column: $col_start / $col_end;
  grid-row: $row_start / $row_end;
}

// 1024 PCS & latops

body {
  background-color: #EEE;
  display: grid;
  grid-template-rows: 5vh 90vh 110vh;

  nav {
    @include gridspan(1, span 1, 1, span 1);
  }

  section {
    background-color: blue;
    @include gridspan(1, span 1, 2, span 1);
    display: grid;
    grid-template-rows: 10vh 70vh 10vh;
    grid-template-columns: 60% 30em 10%;

    aside {
      background-color: red;
      @include gridspan(2, span 1, 2, span 1);
      display: grid;
      // grid-template-rows: ;
      // grid-template-columns: ;
    }
  }

  article {
    @include gridspan(1, span 1, 3, span 1);
    display: grid;
    background-color: yellow;
    grid-template-rows: 20vh 70vh 20vh;
    grid-template-columns: 5% 26.667% 5% 26.667% 5% 26.667% 5%;

    #para1, #para2, #para3 {
      background-color: orange;
    }

    #para1 {
      @include gridspan(2, span 1, 2, span 1);
    }

    #para2 {
      @include gridspan(4, span 1, 2, span 1);
    }

    #para3 {
      @include gridspan(6, span 1, 2, span 1);
    }
  }

}

// MOBILE < 1024
