// See: https://sass-lang.com/

//CURRENTLY FOR DESKTOP QUERY
@mixin gridspan($col_start, $col_end, $row_start, $row_end) {
  grid-column: $col_start / $col_end;
  grid-row: $row_start / $row_end;
}

// 1024 PCS & latops

body {
  background-color: #EEE;
  display: grid;
  grid-template-rows: 5vh 90vh 110vh;
  font-family: 'Didact Gothic', sans-serif;

  nav {
    @include gridspan(1, span 1, 1, span 1);
  }

  #landing-page-top {
    background-image: url("../img/t3_1.jpg");
    background-size: cover;
    @include gridspan(1, span 1, 1, span 2);
    display: grid;
    grid-template-rows: 10vh 70vh 10vh;
    grid-template-columns: 60% 30em 10%;
    position: relative;
    overflow: hidden;

    #landing-page-title {
      @include gridspan(2, span 1, 2, span 1);
      font-size: 3em;
      // display: flex;
      // justify-self: flex-end;
    }

    #landing-page-title:hover {
      transform: scale(1.05);
    }

    aside {
      background-color: #fff;
      @include gridspan(2, span 1, 2, span 1);
      border-radius: 20px;
      filter: drop-shadow(8px 9px 9px #A5A5A5);

      position: absolute;
      right: 0;
      width: 450px;
      margin-top: 10vh;
      margin-right: 0vh;
      transform: translate(1000px, 0);
      transition: 1.5s;

      div header {
        min-height: 200px;
        display: flex;
        align-items: center;
        margin-left: 3em;

        h3 {
          font-size: 3em;
        }

      }

      div .form-inline {
        margin: 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        min-height: 400px;

        input {
          width: 80%;
          border: none;
          border-bottom: ridge;
          background-color: #fff;
          outline: none;
        }

        button {
          width: 80%;
          background-color:#DD614A;
          border: none;
          padding: 10px;
          border-radius: 5px;
          font-size: 1.2em;
          color: white;
        }
        button:hover {
          background-color:#DD614A;
        }

      }
      footer {
        display: flex;
        justify-content: center;
      }

    }

  }

  #background-bar {
    min-height: 300px;
    background-color: #DD614A;
    grid-row: 2 / span 1;
    grid-column: 1 / span 7;
    height: 30%;
    margin-top: 25em;
    // z-index: 1;
  }

  #landing-page-bot {
    @include gridspan(1, span 1, 3, span 1);
    display: grid;
    background-color: #fff;
    grid-template-rows: 20vh 70vh 20vh;
    grid-template-columns: 5% 26.667% 5% 26.667% 5% 26.667% 5%;

    #para1, #para2, #para3 {
      padding: 2em;
      font-size: 1.4em;
      background-color: #fff;
      border-radius: 25px;
      filter: drop-shadow(8px 9px 9px #8c8c8c);

      div {
        min-height: 15em;
      }
    }


    #para1 {
      @include gridspan(2, span 1, 2, span 1);
      h3 {
        border-bottom: 3px solid #DD614A;
        width: 40%;
      }
    }
    #para1-img, #para2-img, #para3-img {
      height: 130px;
    }

    #para2 {
      @include gridspan(4, span 1, 2, span 1);
      h3 {
        border-bottom: 3px solid #DD614A;
        width: 50%;
      }
    }
    // #para2-img {
    //   height: 150px;
    // }


    #para3 {
      @include gridspan(6, span 1, 2, span 1);
      h3 {
        border-bottom: 3px solid #DD614A;
        width: 63%;
      }
    }

    .img-wrap {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

}

// MOBILE < 1024
